?? 의미: 도움말

In [2]:
print??

In [3]:
%time
3+5

Wall time: 0 ns

8

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
a=10
b='hi'
c=3.14

a+c

13.14

정수 - int
실수 - float
복소수 - complex
논리 - bool(true, false)

In [1]:
0b0001

1

In [2]:
0o17

15

In [3]:
0xa

10

In [4]:
0xb

11

In [5]:
0xc

12

In [8]:
%time
3+3

Wall time: 0 ns

6

In [9]:
%time
3.0+3.0

Wall time: 0 ns

6.0

In [13]:
type(5)

int

In [19]:
type(35)

int

In [18]:
35

35

In [17]:
90033742

90033742

In [20]:
-0b11101111

-239

In [21]:
0b011

3

In [23]:
3.14e2

314.0

In [24]:
3.14e1

31.4

In [25]:
3.14e0

3.14

In [26]:
3.14e-1

0.314

In [27]:
3.14e-2

0.0314

In [28]:
3.14e-3

0.00314

In [29]:
type(3.14e-1)

float

In [31]:
a=a+0.01
a

NameError: name 'a' is not defined

In [33]:
14/4

3.5

In [35]:
234+298

532

In [36]:
6-215

-209

In [37]:
32*-4

-128

In [38]:
2**4

16

In [39]:
7/4

1.75

변수에 몸무게 넣기

In [48]:
weight= 76
height= 178

In [49]:
BMI= weight/(height/100)**2
BMI

23.98687034465345

In [50]:
0b001

1

In [52]:
a=True
a

True

In [53]:
type(a)

bool

In [55]:
b=False
b

False

In [56]:
type(b)

bool

In [57]:
True*True

1

In [58]:
True+True

2

In [59]:
False*False

0

In [60]:
False+False

0

In [61]:
True+False

1

In [62]:
True*False

0

In [63]:
True+True+False+True

3

In [64]:
True*3

3

In [65]:
a= True
a+1

2

In [66]:
b= False
b+1

1

In [67]:
a==1

True

In [68]:
b==1

False

In [69]:
b==0

True

#### 비교/논리 연산 연습

In [70]:
34<=34

True

In [71]:
5<6

True

In [72]:
3!=4

True

In [73]:
not True

False

In [74]:
not 35

False

0이 아닌 수는 True

In [75]:
3*4==12 or 3-2>3

True

산술 연산 > 비교 연산 > 논리 연산 순으로 계산한다.

In [76]:
3>2 and 2*2>5

False

In [77]:
not -2 and 23>4

False

보통 한 쪽이 변수 혹은 양 쪽 모두 변수이다.

In [82]:
a=6

In [83]:
a==3 or a==4 or a==5

False

### String

string 표현하기

In [84]:
a = 'hello'
a

'hello'

In [85]:
a = "hello"
a

'hello'

In [86]:
c= '''안녕
하세요'''
c

'안녕\n하세요'

''' 따옴표 3개를 사용하면 여러줄로 된 문장을 만들 수 있다.

In [87]:
print(c)

안녕
하세요

#### Escape sequence

In [88]:
a= '\'안녕\'하세요'
a

"'안녕'하세요"

탭 사용

In [94]:
print('a\tb')
print('aaaa\tb')
print('aaaaa\tb')
print('aaaaaa\tb')
print('aaaaaaa\tb')

a	b
aaaa	b
aaaaa	b
aaaaaa	b
aaaaaaa	b

In [95]:
print('a\tbb\tccc\tdddd')

a	bb	ccc	dddd

줄바꿈

In [96]:
newLine = 'a\nb\n'
print(newLine)

a
b

In [97]:
newLine

'a\nb\n'

#### string 관련 연산자 '+', '*'

In [98]:
'HI'*4.0

TypeError: can't multiply sequence by non-int of type 'float'

In [99]:
'HI'*4

'HIHIHIHI'

곱셈시 숫자
정수형만 가능
0이나 음수일 경우 결과:' ' <- 아무런 문자가 없는 비어있는 상태

In [100]:
'hello'*4

'hellohellohellohello'

In [101]:
'4'+'5'

'45'

In [102]:
3*'4'

'444'

In [103]:
'a'*3 + 'b'*3 + 'c'*3

'aaabbbccc'

In [104]:
'2*3+4'

'2*3+4'

In [105]:
2*3+4

10

In [106]:
a=3
b=5
c='a+b'
c

'a+b'

In [107]:
'hi'*(4/2)

TypeError: can't multiply sequence by non-int of type 'float'

In [108]:
4/2

2.0

오류를 찾을 때 분리해서 보는 연습을 해보자

Format code 연습

In [109]:
'aa %s cc' %'bb'

'aa bb cc'

In [110]:
'aa %s cc' % 123

'aa 123 cc'

In [111]:
'aa %s cc' % 3.14

'aa 3.14 cc'

In [112]:
'%d * %d = %d' % (3, 4, 3*4)

'3 * 4 = 12'

In [113]:
'%d * %d = %d' % ('3', '4', '3*4')

TypeError: %d format: a number is required, not str

In [114]:
'%d * %d = %d' % (3.5, 4.1, 3.5*4.1)

'3 * 4 = 14'

In [115]:
'pi= %f' % 3

'pi= 3.000000'

In [116]:
'pi=%f' % '3'

TypeError: must be real number, not str

In [117]:
'pi=%f' % 3.14

'pi=3.140000'

In [118]:
'%d%%' % 90

'90%'

In [119]:
'90%%'

'90%%'

In [120]:
'aa %s cc' % 'bb'*2

'aa bb ccaa bb cc'

In [121]:
'aa %s cc' % ('bb'*2)

'aa bbbb cc'

Format code를 이용한 정렬

'%(-)숫자코드' % 값

In [122]:
'%10s' % 'hi' + 'Dave'

'        hiDave'

In [123]:
'%-10s' % 'hi' + 'Dave'

'hi        Dave'

In [124]:
'%10d' % 1234

'      1234'

In [125]:
'%10.1f' % 3.14

'       3.1'

In [126]:
'%10.2f' % 3.14

'      3.14'

In [127]:
'%10.4f' % 3.141592

'    3.1416'

In [128]:
len('반가워요')

4

In [129]:
len('nice to meet you')

16

In [131]:
len('a')

1

In [132]:
len('ㄱ')

1

In [133]:
len('가')

1

In [134]:
len('안녕')

2

In [135]:
'Hello '.strip()

'Hello'

In [136]:
' h i '.strip()

'h i'

In [137]:
' h i '.replace(' ', '')

'hi'

In [138]:
a='hobby'

In [139]:
a.count('b')

2

In [140]:
a.find('b')

2

In [141]:
a.find('e')

-1

In [142]:
a.index('b')

2

In [143]:
a.index('e')

ValueError: substring not found

In [144]:
a.count('bb')

1

In [145]:
a.find('bb')

2

In [146]:
ord('a')

97

두 개의 문자는 반환 X

In [147]:
ord('aa')

TypeError: ord() expected a character, but string of length 2 found

In [148]:
ord('ab')

TypeError: ord() expected a character, but string of length 2 found

In [149]:
chr(65)

'A'

In [150]:
chr(ord('a')+1)

'b'

In [151]:
chr(98)

'b'

In [152]:
chr(111)

'o'

In [153]:
chr(900)

'΄'

In [154]:
chr(1111111)

'\U0010f447'

In [155]:
chr(111111111111111111111111)

OverflowError: Python int too large to convert to C long

In [156]:
'Hello'.isalpha()

True

In [157]:
'hello to python2'.isalpha()

False

In [158]:
'hello to python2'.isalnum()

False

In [159]:
'hello to python'.isalnum()

False

In [169]:
'hello2python'.isalnum()

True

In [166]:
??isalnum()

Object `isalnum()` not found.

In [167]:
'!!!!'.isupper()

False

In [168]:
str.isalnum??

### int float string 데이터의 형 변환 연습하기

In [171]:
a=32

In [172]:
b='9'

In [173]:
c='3.5'

In [174]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [175]:
a+ int(b)

41

In [176]:
b+c

'93.5'

In [177]:
int(b)+ int(c)

ValueError: invalid literal for int() with base 10: '3.5'

In [182]:
int(b)+ int(float(c))

12

In [178]:
int(b)+float(c)

12.5

In [179]:
b*c

TypeError: can't multiply sequence by non-int of type 'str'

In [180]:
b*float(c)

TypeError: can't multiply sequence by non-int of type 'float'

In [181]:
int(b)*c

'3.53.53.53.53.53.53.53.53.5'

In [183]:
int(' 23 ')

23

In [184]:
int(' 23_00 ')

2300

In [185]:
int(' 23_00-00 ')

ValueError: invalid literal for int() with base 10: ' 23_00-00 '

In [186]:
int(' 2 3 ')

ValueError: invalid literal for int() with base 10: ' 2 3 '

## input

In [187]:
name = input()
print('hi~ ', name)

rio
hi~  rio

input으로 질문하기

In [191]:
name = input('이름이 뭐야? ')
print('안녕',name)

이름이 뭐야? 울라
안녕 울라

숫자를 받기

In [194]:
age = int(input('나이는? '))
print('내년 나이 ',age+1)

나이는? 0
내년 나이  1

In [195]:
inStr = input("String: ")
print(inStr * 2)

String: python
pythonpython

In [203]:
inint= int(input('int: '))
print(inint * 2)

int: 9
18

In [201]:
infloat = float(input("float: "))
print(infloat * 2)

float: 5
10.0

In [198]:
type(inStr)

str

In [199]:
type(inint)

int

In [200]:
type(infloat)

float

In [204]:
str.find??